<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Correo electronico
    </ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  
  
  
  <select [(ngModel)]="opcion" class="form-control" style="width: 12rem;" (change)="carg2()">
    <option [value]="item" *ngFor="let item of opciones">{{item}}</option>
  </select>     
  

  <ion-item-divider class="abajo">   
    <ion-button color="danger" size="large" (click)="login()">Entrar</ion-button>
  </ion-item-divider>

  <ion-img src="../assets/alarma.png"></ion-img>

</ion-content>
